<Providers::Arrows as |arrows|>
  <div
    class='border-2 rounded-sm p-2'
    data-eval='{{@eval.id}}'
    {{did-insert (fn arrows.fns.registerEval @eval)}}
    {{will-destroy (fn arrows.fns.unregisterEval @eval)}}
    ...attributes
  >
    {{@eval.id}}
  </div>
</Providers::Arrows>
